mycolor = blue

body 
  color: mycolor
  
h1 
  color: mycolor

.name
  border-radius: 11111px
  
a
  color: mycolor
  transition: transform 1s
  
@keyframes mymove 
  from 
    top: 0px
  to
    top: 200px